@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');


body{
    margin: 0;
    background-color: #071013 ;
    color: white;
    font-family: 'Oswald', sans-serif;

}

nav {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #071013;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
nav a{
    font-family: 'Oswald', sans-serif;
}
nav h2 {
    font-family: 'Ephesis', cursive;
}
nav img{
    width: 13px;
    height: 13px;
}
nav button{
    border-radius: 8px;
    width: 35px;
    height: 36px;
}
#search{
    width: 450px;
    height: 36px;
    border-radius: 10px;
}
#navtext a{
    margin: 30px;

}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3f235c79;
}
#about h1{
    font-size: 80px;
}

.contimg{
    display: flex;
    flex-direction: row;    
}

.contimages{
    
    padding: 10px;
}

.contimages img{
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
}


