@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    margin: 0;
    background-color: #071013 ;
    color: white;
    font-family: 'Oswald', sans-serif;

}

 button:hover{
    cursor: pointer;
}

button{
    border: none;
}

nav {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #071013;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
nav form{
    display: flex;
}

nav a{
    font-family: 'Oswald', sans-serif;
    
}
nav h2 {
    font-family: 'Ephesis', cursive;
}

nav button{
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.navtext a{
    padding: 30px;
}


#search{
    width: 350px;
    height: 40px;
    border-radius: 8px;
}


#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3f235c79;
}
#about h1{
    font-size: 80px;
}

.contimg{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

.contimg img{
    height: 250px;
    width: 250px;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 50px;
}

#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
}

.cards{
    display: flex;
    flex-direction: row;
}

.cartao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    margin-top: 10px;
    width: 250px;
    height: 300px;
    background-color: #3f235c79;
    border-radius: 25px;
    padding: 40px;
    font-size: 15px;
}

.cartao button{
    background-color: #FFFF00;
    width: 60px;
    height: 35px;
    border-radius: 15px;
}
.cartao span{
    color: #FFFF00;
    font-size: 50px;
    border: 2px solid #FFFF00;
    border-radius: 50px;
    padding: 15px;
}

#premios{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    background-color: #3f235ce5;
    padding: 30px;
}
#premios h1{
    font-size: 70px;
}

.pre-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #7043a1e5;
    width: 725px;
    height: 125px;
    border-radius: 15px;
    margin: 10px;
    padding-left: 20px;
}

.pcard1 {
    height: 150px;
}

.pcard1 span{
    color: yellow;
    font-size: 50px;
}

.pcard2 span{
    font-size: 35px;
}

.pcard3 span {
    font-size: 35px;
    color: green;
}

#talk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#talk h1{
    font-size: 80px;
}

.both{
    display: flex;
    flex-direction: row;
}

.orça{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 400px;
    background-color: #3f235c79;
    border-radius: 20px;
    margin: 40px;
    margin-top: 60px;
}

.orça form{
    padding: 20px;
}

#nome {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 250px;
}

#servico{
    display: flex;
}

.orça button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF00;
    border-radius: 20px;
    width: 200px;
    height: 50px;
}

footer{
    background-color: #3f235ce5;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#pezinho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    font-size: 30px;
}

footer h2 {
    font-family: 'Ephesis', cursive;
    font-size: 40px;
}

footer form{
    display: flex;
    flex-direction: column;
}
footer input{
    width: 80px;
}

footer a{
    color: white;
}

.ftext{
    display: flex;
    flex-direction: column;
}

.end{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 720px) and (max-width: 1024px){
    
    #search{
        width: 150px;
        height: 40px;
        border-radius: 8px;
        
    }
    .navtext a{
        padding: 5px;
    }
    .contimg img{
        height: 125px;
        width: 125px;
        border: 2px solid white;
        border-radius: 10px;
        margin-right: 50px;
    }

    #map{
        width: 300px;
        
    }

    .orça{
        display: flex;
        flex-direction: column;
        height: 450px;
        width: 400px;
        background-color: #3f235c79;
        border-radius: 20px;
        margin: 20px;
        margin-top: 60px;
    }
    

} 

@media screen and (max-width: 600px){
    #search{
        width: 50px;
        height: 30px;
        border-radius: 8px;
        
    }
    .navtext a{
        padding: 5px;
    }
    nav button{
        border-radius: 8px;
        width: 30px;
        height: 30px;
    }

    .contimg img{
        height: 50px;
        width: 50px;
        border: 2px solid white;
        border-radius: 10px;
        margin-right: 50px;
    }

    .cartao{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px;
        margin-top: 10px;
        width: 140px;
        height: 300px;
        background-color: #3f235c79;
        border-radius: 25px;
        padding: 20px;
        font-size: 15px;
    }
    
    .cartao span{
        color: #FFFF00;
        font-size: 20px;
        border: 2px solid #FFFF00;
        border-radius: 50px;
        padding: 5px;
    }
    .pre-card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #7043a1e5;
        width: 340px;
        height: 125px;
        border-radius: 15px;
        margin: 10px;
        padding-left: 20px;
    }

    .orça{
        display: flex;
        flex-direction: column;
        height: 450px;
        width: 200px;
        background-color: #3f235c79;
        border-radius: 20px;
        margin: 10px;
        margin-top: 60px;
    }
    #map{
        width: 200px;
        
    }

    #nome {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        height: 25px;
        width: 150px;
    }

    .orça button{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFF00;
        border-radius: 20px;
        width: 100px;
        height: 50px;
    }
    footer h3{
        font-size: 15px;
    }
    footer h2 {
        font-family: 'Ephesis', cursive;
        font-size: 20px;
    }
    footer{
        background-color: #3f235ce5;
        display: flex;
        flex-direction: column;
        padding: 2px;
        font-size: 10px;
    }
}